<link rel="stylesheet" href="/static/layuimini/js/lay-module/step-lay/step.css" media="all">
<style>
    .com_res_form_label{
	width:40%;
    float: left;
}
.com_res_form_text{
    width: 60%;
    word-wrap: break-word;
    height: auto;
    float: right;
}
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>

                            <!-- 表单1 -->
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">证书编号:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写证书编号" name="certificatenumber" class="layui-input"  lay-verify="required" />

                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">姓名:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写学生姓名" value="" name="name" class="layui-input"  lay-verify="required">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">学号:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写学生学号" value="" name="studentnumber" class="layui-input"  lay-verify="required">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">身份证号:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写学生身份证号" value="" name="idnumber" class="layui-input"  lay-verify="required">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">专业名称:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写专业名称" value="" name="major" class="layui-input"  lay-verify="required">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">学位类别:</label>
                                        <div class="layui-input-block">
                                            <select lay-verify="required" name="degreetype">
                                                <option value="学士" selected>学士</option>
                                                <option value="硕士">硕士</option>
                                                <option value="博士">博士</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">毕业日期:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <input type="text" class="layui-input" id="laydateid" name="graduationdate" placeholder="请选择毕业年月" lay-verify="required">
                                              </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep" style="background-color: #3887e5;">
                                                &emsp;下一步&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- 表单第二项确认 -->
                           <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;" lay-filter="confirm_form2">
									<div class="layui-form-item">
									    <label class="layui-form-label">学校名称:</label>
									    <div class="layui-input-block">
									        <div class="layui-form-mid layui-word-aux"><%= school.name%></div>
									    </div>
									</div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">证书编号:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="serial_number"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">学号:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="student_number"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">身份证号:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux"id="ID_number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">专业名称:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="profession"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">学位类别:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="sort"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">毕业日期:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="graduation_date"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                            <button class="layui-btn" lay-submit lay-filter="formStep2" style="background-color: #3887e5;">
                                                &emsp;确认上传&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
							
                            <!-- 第三个界面 -->
                            <section>
                                <div>
                                    <div style="text-align: center;margin-top: 12%;" id="laoding_icon">
                                        <i class="layui-icon layui-circle"
                                           style="color: white;font-size:40px;font-weight:bold;background: #3887e5;padding: 10px;line-height: 60px;">&#xe605;</i>
                                        <div style="font-size: 20px;color: #333;font-weight: 500;margin-top: 30px;">
                                            已上传，等待学生本人确认证书信息。
                                        </div>
                                    </div>
                                </div>
                                  <!-- 再次添加按钮  -->
                                <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">
                                    <button class="layui-btn next"  style="background-color: #3887e5; margin-right: 20px;">再次添加</button>
                                    <button class="layui-btn " id="multi"  style="background-color: #3887e5;">批量添加</button>
                                </div>
                            </section>

                        </div>
                    </div>

                     <div style="margin-top: 30px;">
                        <hr>
                        <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;">
                            <h3>说明</h3><br>
                            <p>学位证书对学生十分重要,请学校认证上传,并仔细确认。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	
	// 第一个表单的存取数据
	var Certificate_Information = '';
    layui.use(['form', 'step','laydate','layer','miniPage'], function () {
        var $ = layui.$,
            form = layui.form,
            laydate=layui.laydate,
            step = layui.step,
            layer=layui.layer,
            miniPage=layui.miniPage
			;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();
        laydate.render({
            elem: '#laydateid' //指定元素,
            ,type: 'month'
        });
        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '填写证书信息'
            }, {
                title: '确认证书信息'
            }, {
                title: '完成'
            }]
        });
        form.on('submit(formStep)', function (data) {
			// 获得第一个表单的数据
			Certificate_Information = data.field;
			// 将每个div中的值赋值
			$('#serial_number').html(Certificate_Information.certificatenumber);
			$('#student_number').html(Certificate_Information.studentnumber);
			$('#ID_number').html(Certificate_Information.idnumber);
			$('#profession').html(Certificate_Information.major);
			$('#sort').html(Certificate_Information.degreetype);
			$('#graduation_date').html(Certificate_Information.graduationdate);
			
            step.next('#stepForm');
            return false;
        });
		
		
        form.on('submit(formStep2)', function (data) {
            $("#laoding_icon").show();
            $("#success_icon").hide();
            step.next('#stepForm');
            $.post('/school/api/certificate',Certificate_Information,(res)=>{
                if(res.code!=0){
                    layer.alert("上传失败!");
                }
            })
            return false;
        });


        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });

        $('#multi').click(function(){
            miniPage.hashChange("/school/multiUploadCertificate");
        });
    })
</script>
