<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>学位学历认证管理系统-学生</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/head.css" />
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/bottom.css" />
	<link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">  
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/student.css" />
</head>
 
<body>
	<%-include("../head.ejs")%>
	
	<!-- 主体部分 -->
	<section class="student-search">
		<div class="layui-container" style="width: 70%;margin: auto;">
			
			<!-- 头部的大图 -->
			<div class="student_headimg_div" id="student_head_bigimg">
				<div>
					<img src="/static/images/student_head.png"  class="student_head_img"/>
				</div>
			</div>

			<div>
				<div class="layui-row">

					<!-- 学生填写身份证号 -->
						<div name="filloutform" id="filloutform">
							<form action="" class="layui-form student_fillout_form">
								<!-- 插画 -->
								<div class="layui-form-item student_form2_img_div">
									<img src="/static/images/student_search.png" style="width: 300px; margin: auto;" alt="">
								</div>	

								<!-- 表单填写 -->
								<div class="layui-form-item">
									<label class="student_fillout_label">证书获取</label>
								</div>
								<div class="layui-form-item" style="padding-left: 40px;">
									<label class="layui-form-label identity">证件号码</label>
									<div class="layui-input-block">
										<input type="text" name="idnumber" required lay-verify="required" autocomplete="off" class="layui-input"  style="border-radius: 15px; width: 88%;"/>
									</div>
								</div>
									
								<!-- 按钮 -->
								<div class="layui-form-item" style="text-align: center;">
									<button class="layui-btn" style="border-radius: 20px;background-color: #3887e5;" lay-submit lay-filter="formStep">点击查询</button>
								</div>
							</form>
						</div>
					
					<!-- 学生获取成功后的 -->
						<div class="searchbackinfor" id="forminfo" name="forminfo">
							<div class="layui-input-inline">
								<form class="layui-form student_forminfo_form" action="" >
									
									<div class="layui-form-item">
										<label class="layui-form-label">证书编号:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="serial_number"></div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">学校名称:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="school_name">学校名</div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">姓名:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="student_name"></div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">学号:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="student_number"></div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">身份证号:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux"id="ID_number">
											</div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">专业名称:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="profession"></div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">学位类别:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="sort"></div>
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">毕业日期:</label>
										<div class="layui-input-block">
											<div class="layui-form-mid layui-word-aux" id="graduation_date"></div>
										</div>
									</div>
								</form>
							</div>

							<div class="layui-input-inline student_fillout_item">
								<img src="/static/images/student_search.png" style="width: 65%; margin: auto;" alt="">
							</div>

							<input type="button" onclick="check_certificate()" value="查看"/>
						</div>
				</div>
			</div>
		</div>
	</section>


	<!-- 学生证书区块链证书存证 -->
	<section>
		<div class="layui-container" id="certificate" style="display: none;">
			<div class="layui-row">
				<input type="button" onclick="print_certificate()" value="打印" />
				<div class="" style="padding: 20px;" id="print_certificateinfor">
					<table class="layui-table cer_table" cellspacing="0" cellpadding="0">
					  <colgroup>
						  <col width="50">
						  <col width="50">
						  <col width="200">
						  <col width="50">
					  </colgroup>
					  <tbody >
						<tr>
						  <td colspan="4"></td>
						</tr>
						<tr>
						  <td colspan="4" style="text-align: center;">&nbsp;</td>
						</tr>
						<tr>
						  <td></td>
						  <td colspan="2"><h1 class="cer_table_title">学士学位区块链存证证书</h1></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td colspan="2">本证书表明毕业生学位证书数据已采用VNT Chain区块链技术转换为不可篡改的特征值，并上传至区块链进行存证。已存证的相关电子数据如需查验，可通过信诣学位学历认证管理系统进行。</td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">存证方：</td>
						  <td>信诣学位学历认证管理系统</td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">姓名：</td>
						  <td><div id="name"></div></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">学校名称：</td>
						  <td><div id="schoolname"></div></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">学位类别：</td>
						  <td><div id="degreetype"></div></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">毕业年月：</td>
						  <td><div id="graduationdate"></div></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">专业：</td>
						  <td><div id="major"></div></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">证书编号：</td>
						  <td><div id="certificatenumber"></div></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">
							  <p style="text-align: center;	">扫码查验</p>
							  <div class="cer_table_QRcode">
								<img src="/static/images/QRcode.png" style="height: 60px;" />
							  </div>
							</td>
						  <td>
							  <div style="float: right;">
								  <img src="/static/images/redSignet.png" />
							  </div>
						  </td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td colspan="2">此证书对应存证内容已加盖可信时间戳，并在信诣学位学历认证管理系统及杭州维特链科技有限公司提供的维特链上同步存证。</td>
						  <td></td>
						</tr>
						<tr>
						  <td colspan="4"></td>
						</tr>
						<tr>
						  <td colspan="4"></td>
						</tr>
					  </tbody>
					</table>
	
				</div>
			</div>
		</div>
		
	</section>

	<%-include("../foot.ejs")%>

	<script src="/static/layui/layui.js"></script>
	<script language="javascript" src="/static/lib/jqprint/jquery-1.4.4.min.js"></script>
	<script language="javascript" src="/static/lib/jqprint/jquery.jqprint-0.3.js"></script>
	<script>
		// 打印存证证书
		function print_certificate(){
		$("#print_certificateinfor").jqprint();
}
// 浏览存证证书界面
	function check_certificate(){
		$("#certificate").show();
		$("#forminfo").hide();
		$("#student_head_bigimg").hide();
		$("#filloutform").hide();

	}
	</script>
	<script>
		
		layui.use(['form','laydate','element'], function(){
		  var $ = layui.jquery,
			  form = layui.form,
			  $ = layui.$,
			  laydate = layui.laydate,
			  step = layui.step,
			  element = layui.element//导航的hover效果、二级菜单等功能，需要依赖element模块
			  ;
			  //修改密码
			  $("#changePasswordBtn").click(function(){
				  $.get('/changePassword',(res)=>{
					  var index = layer.open({
                    title: '修改密码',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
					area:['500px','400px'],
                    content:res
						
                });
				$(window).on("resize", function () {
                    layer.full(index);
                });
				  })
				
			})
		  
		  //监听提交
		  form.on('submit(formStep)', function(data){
			// layer.msg(JSON.stringify(data.field));
			
			$.ajax({
				url:'/student/getCertificate',
				method:'POST',
				data:data.field,
				success:function(res){
					if(res.code==0){
						let certificate=res.data
						console.log(certificate);
						// 将每个div中的值赋值
						$('#serial_number').html(certificate.certificatenumber);
						$('#school_name').html(certificate.school);
						$('#student_name').html(certificate.name);
						$('#student_number').html(certificate.studentnumber);
						$('#ID_number').html(certificate.idnumber);
						$('#profession').html(certificate.major);
						$('#sort').html(certificate.degreetype);
						$('#graduation_date').html(certificate.graduationdate);

						$("#forminfo").show();
						$("#filloutform").hide();
						$("#certificate").hide();
					}
					else{
						$("#forminfo").hide();
						$("#filloutform").show();
						$("#certificate").hide();
						layer.alert("查询失败！"+res.msg);
					}
					
				}
			});
			

			
			return false;
		  });
		  
		  //监听导航点击
		  element.on('nav(demo)', function(elem){
		  			//console.log(elem)
		  			layer.msg(elem.text());
		  });
		  
		  //用户退出
		  	$(".login-out").click(function(){
		  		layer.confirm("确认退出系统吗？",{
					icon:3, title: "提示",
					}, 
					function(index){
						//关闭询问框
						layer.close(index);
						//跳转
						window.location.href = "/logout";
		  		})
		  	});
		});
		
	</script>
</body>
</html>
