<style>
    .input-width{
        width: 330px;
    }
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <div style="margin-top: 40px;">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">旧的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码" value="" class="layui-input input-width">
                    <tip>填写账号现在的密码。</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">新的密码</label>
                <div class="layui-input-block">
                    <input type="password" name="new_password" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input input-width">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="again_password" lay-verify="required|confirmPass" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input input-width">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
			$=layui.$
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('/changePassword',data.field,function(res){
                if(res.code==0){
                    var index =layer.msg("修改成功！")
                    setTimeout(() => {
                        layer.close(index)
                    //执行登出
                        window.location = '/logout';
                    }, 1500);
                }
                else{
                    layer.msg("修改失败!"+res.msg);
                }
            })

            return false;
        });

		form.verify({
		  confirmPass:function(value){
		          if($('input[name=new_password]').val() !== value)
		              return '两次密码输入不一致！';
		      }
		});

    });
</script>