	<!-- 页面脚 -->
	<section>
		<div class="layui-footer bottom">
			<center>
				<!-- 有链接部分 -->
				<p class="bottom_text">
					<a class="system_name" href="#">学位学历认证管理系统</a> - 
					<a class="contact_us" href="#">联系我们</a> - 
					<a class="back_management" href="/admin/">后台管理</a>
				</p>
				
				<p class="bottom_text">Copyright © 2020-2021 学位学历认证管理系统 All Rights Reserved</p>
			</center>
		</div>
	</section>