<!-- 头 -->
<section>
    <div class="head">
        <div class="head_title layui-row">

            <!-- logo和标题 -->
            <a href="/login">
                <div class=" system_name_title layui-col-md11">
                    <div class="head_box">
                        <div class="img_bobble ">
                            <img src="/static/images/white_logo.png"  class="head_logo"/>
                        </div>
                        <div class="label_bobble">
                            <div class="system_chinese">云招聘学位核验平台</div>
                            <div class="systen_eng">Degree and diploma certification system</div>
                        </div>
                    </div>
                </div>
            </a>


            <!-- 退出登录，切换账号 -->
            <div class=" layui-col-md1" style="margin-top: 40px;">
                <div class="head_mine">
                    <ul class="student_nav layui-nav " style="background-color: #3887e5;">
                      <li class="layui-nav-item">
                        <a href="javascript:;"><%= name%></a>
                        <dl class="layui-nav-child">
                          <dd><a href="javascript:;" id="changePasswordBtn">修改密码</a></dd>
                          <dd><a href="javascript:;" class="login-out">退出登录</a></dd>
                        </dl>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

