<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>注册</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- layUI核心CSS文件 -->
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/register.css" />
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/head.css" />
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/bottom.css" />
		<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
	</head>
	<body>
		<section>
			<div class="register_head">
				<div class="register_head_title layui-row">

					
				<a href="/login">
					<div class="register_system_name_title layui-col-md10">
						<div class="head_box">
							<div class="img_bobble ">
								<img src="/static/images/white_logo.png"  class="head_logo"/>
							</div>
							<div class="label_bobble">
								<div class="system_chinese">学位学历认证管理系统</div>
								<div class="systen_eng">Degree and diploma certification system</div>
							</div>
						</div>
					</div>
				</a>
				
					<div class="loginanderegister layui-col-md2">
						<a  class="login_a" href="/login">登录</a>
						<label style="color: #FFFFFF;">|</label>
						<a  class="login_a" href="#">注册</a>
					</div>
				</div>
			</div>
		<section>
		
		<div class="layui-row body">
			
			<!-- 注册页 -->
			<center>
				  <legend class="register_headtext ">学生注册</legend>
			</center>
			
			<form class="layui-form register_form" action="" >
				<div class="layui-input-inline">
					<!-- 姓名 -->
					<div class="layui-form-item">
						<label class="layui-form-label">学生姓名</label>
						<div class="layui-input-block">
						  <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="请输入您的真实姓名" class="layui-input" style="width: 250px;border-radius: 15px;">
						</div>	
					</div>
					
					<!-- 学号 -->
					 <div class="layui-form-item">
						<label class="layui-form-label">学号</label>
						<div class="layui-input-block">
						  <input type="text" name="studentnumber" lay-verify="required" lay-reqtext="学号不能为空!" placeholder="请输入您的学号" autocomplete="off" class="layui-input" style="width: 250px;border-radius: 15px;">
						</div>
					  </div>
					
					  <!-- 密码设置 -->
					  <div class="layui-form-item">
						<label class="layui-form-label">密码</label>
						<div class="layui-input-inline">
						  <input type="password" name="password" lay-verify="pass" placeholder="请填写6到16位密码" autocomplete="off" class="layui-input" style="width: 250px;border-radius: 15px;">
						</div>
					  </div>
					  
					  <!-- 确认密码 -->
					  <div class="layui-form-item">
						<label class="layui-form-label">确认密码</label>
						<div class="layui-input-inline">
						  <input type="password" name="affirmpassword" lay-verify="pass|confirmPass" placeholder="请确认密码" autocomplete="off" class="layui-input" style="width: 250px;border-radius: 15px;">
						</div>
					  </div>
					  
					  <!-- 学校 -->
					     <div class="layui-form-item">
					    	<label class="layui-form-label">学校</label>
					    	<div class="layui-input-block">
					    	  <input type="text" name="school" lay-verify="required" lay-reqtext="学校不能为空!" placeholder="请输入您毕业学校" autocomplete="off" class="layui-input" style="width: 250px;border-radius: 15px;">
					    	</div>
					      </div>
					    
					    <!-- 身份证号码 -->
					  <div class="layui-form-item">
					  	<label class="layui-form-label">身份证号</label>
					  	<div class="layui-input-inline">
					  	  <input type="text" name="idnumber" lay-verify="idnumber|idnumber" placeholder="请输入您的身份证号" autocomplete="off" class="layui-input" style="width: 250px;border-radius: 15px;">
					  	</div>
					  	<!-- <div class="layui-form-mid layui-word-aux">&nbsp;中国大陆地区永久推荐设置居民身份证</div> -->
					  </div>
					  
					  <!-- 阅读勾选协议选择框	 -->
					  <div class="layui-form-item">
					  	<div class="layui-from-checkbox">
					  		<input type="checkbox" lay-skin="primary" id="deal" name="deal" lay-verify="deal_agree" title=""/>
							  <span class="read_xieyi">我已阅读并同意<a href="javascript:void(0)" id="useraggrement">《用户协议》</a></span>
					  	</div>
					  </div>
					  
					  <!-- 按钮 -->
					  <div class="layui-form-item">
					      <div class="layui-input-block">
					        <button type="submit" class="layui-btn register_btn" lay-submit="" lay-filter="register" style="border-radius: 20px;background-color: #3887e5;">立即注册</button>
					        <button type="reset" class="layui-btn layui-btn-primary" style="border-radius: 20px;">重置</button>
					      </div>
					  </div>
					  
					  <br>
					  
				  </div>
				  
				  <!-- 插画 -->
				  <div class="layui-input-inline">
					 <img src="/static/images/register_right.png" class="register_img" />
				  </div>
		
			</form>
			
		</div>

		<%-include("foot.ejs")%>

		<!-- JS文件 -->
		<script src="/static/layui/layui.js" type="text/javascript" charset="UTF-8"></script>
		<script>
		layui.use(['form', 'layedit', 'laydate'], function(){
		  var form = layui.form
		  ,layer = layui.layer
		  ,layedit = layui.layedit
		  ,$=layui.$
		  ,laydate = layui.laydate;
		  
		  //日期
		  laydate.render({
		    elem: '#date'
		  });
		  laydate.render({
		    elem: '#date1'
		  });
		  $("#useraggrement").click(()=>{
			  layer.open({
				type:1,
				content:$('#useraggrementtext'),
				area:["350px","500px"],
				title:"信诣系统用户协议",
				shadeClose:true,
				offset: '100px'
			})
		  })
		  //创建一个编辑器
		  var editIndex = layedit.build('LAY_demo_editor');
		 
		  //自定义验证规则
		  form.verify({
		    name: function(value){
		      if(value.length == 0){
		        return '姓名不能为空！';
		      }
		    }
			,idnumber:function(value){
				if(value.length == 0){
					return '身份证号不能为空！';
				}
			}
		    ,pass: [
		      /^[\S]{6,16}$/
		      ,'密码必须6到16位，且不能出现空格'
		    ]
			,confirmPass:function(value){
				if($('input[name=password]').val() !== value)
					return '提示：两次输入密码不一致！';
			}
			,deal_agree:function(value){
				var check = document.getElementById("deal").checked;
				console.log(document.getElementById("deal").checked);
				if(check == false){
					return '请勾选并阅读协议';
				}
			}
		    ,content: function(value){
		      layedit.sync(editIndex);
		    },
			
		  });
		  
		  //监听表单提交
		  form.on('submit(register)', function(data){
			  // 请求
			$.post('/register',data.field,(res)=>{
				if(res.code==0){
					window.location.href=res.data.url;
				}
				else layer.alert(res.msg);
			})
		    return false;
		  });
		 
		  
		  //表单取值
		  layui.$('#LAY-component-form-getval').on('click', function(){
		    var data = form.val('example');
		    alert(JSON.stringify(data));
		  });
		  
		});
		</script>
		</body>
		<div id="useraggrementtext" style="display:none;padding: 20px;">
			<p>欢迎您使用信诣学位学历认证管理系统（以下简称信诣系统、我们或本系统）。
			您应当仔细阅读、充分理解《用户协议》（简称本协议）的全部内容。</p>
			<p>一、协议的确认</p>
			<p>您访问信诣系统、注册成为信诣系统用户或使用信诣系统的任何产品或服务，即视为您已阅读、了解并完全同意本协议中的各项内容，
					包括本系统对条款内容所作的任何修改。同时也代表您同意我们的《隐私政策》，其内容涵盖了我们如何收集、使用、披露、存储和保护您的个人信息。
					若您不同意本协议，请不要注册、访问或以其他方式使用信诣系统提供的任何产品或服务。</p>
			<p>二、账号的管理和使用</p>
			<p>1．您需要按照信诣系统要求的注册步骤进行注册，获得信诣系统账号和密码，登录信诣系统。您在信诣系统的账号、密码等是您在本系统的唯一身份权证。
				您通过账号和密码使用本系统的行为，均视为您本人行为，您应当承担由此导致的相关后果和责任。</p>
			<p>2．您应当妥善保管您的账号和密码，避免使用过于简单的密码。不得将您的账号和密码出租、出借、转让或者以其他方式提供给他人使用。
				您可以根据本系统规定更改密码。如果您发现自己的信息泄露，尤其是本系统账号和密码发生泄露，请立即联系我们或者高校管理员。</p>
			<p>3．您在使用具体产品或服务时，我们可能会要求您进一步提供本人身份信息及资料，以完成身份信息核验，
				您应保证提供的身份信息及资料为本人真实、准确的信息。</p>
		</div>
</html>
