.layui-table tbody tr:hover{
	background-color: rgba(255,255,255,0.00)!important;
}
.cer_table{
background-image: url(/static/images/certificate.png);
background-repeat: no-repeat;
background-size: 100% 100%;
width: 700px;
height: 900px;
margin: auto;
margin-bottom: 0;
}
.cer_table_title{
	text-align: center;
	font-weight: 700;
	color: black;
}
.layui-table td{
	border: hidden!important;
	height: 30px;
}
.cer_table_td_title{
	font-weight: 600;
	color: black;
	text-align: right;
}
.cer_table_QRcode{
	/* background-image: url("/static/images/QRcode.png");
	background-repeat: no-repeat;
	background-size: 100% 100%; */
	padding: 20px;
	width: 40%;
	float: left;
	text-align: center;
	font-weight: 500;
	height: 120px;
}
.certificate_generate_div{
	width: 130px;
	background-color: #3887e5;
	color: #FFFFFF;
	border-radius: 20px;
	height: 40px;
	text-align: center;
}
.cer_table_codetext{
	padding-bottom: 5px;
}


.seal-content{
	width: 300px;
	min-height: 60px;
	vertical-align: bottom;
	word-wrap: break-word;
	position: relative;
}

.seal-result{
	width: 140px;
	height: 140px;
	transform: rotate(0deg);
	border: solid 2px green;
	border-radius: 100%;
	text-align: center;
	color: green;
	font-size: 16px;
	font-weight: bold;
	line-height: 60px;
	right: 5px;
	bottom: 0px;
	position: absolute;
	background-color: rgba(255,255,255,0.1)
}

.seal-result-fail{
	border-color: red;
	color: red;
}