<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加应用-云招聘学位核验平台</title>
  <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">
<style>
	.com_api_addapi{
		width: 570px;
		padding: 40px;
		margin: auto;
		/* background-color: #009E94; */
	}
	.com_api_addapi_form{
		width: 100%;
		align-items: center;
        
	}

</style>


</head>
<body>

    <div class=" com_api_addapi">
        <div class="layui-form  com_api_addapi_form">
            <div class="layui-form-item">
                <label class="layui-form-label required">应用名称</label>
                <div class="layui-input-block">
                    <input type="text"  name="name"  lay-verify="required"  lay-reqtext="应用名称不能为空"  placeholder="请输入应用名称" value="" class="layui-input">
                    
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 20px;">
                <label class="layui-form-label required" >应用备注</label>
                <div class="layui-input-block">
                    <input type="text" name="comment" placeholder="请输入应用备注" value=""  class="layui-input" >
                </div>
            </div>
            

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use(['form', 'table','layer'], function () {
            var form = layui.form,
                layer = layui.layer,
                table = layui.table,
                $ = layui.$;

            /**
             * 初始化表单，要加上，不然刷新部分组件可能会不加载
             */
            form.render();

            // 当前弹出层，防止ID被覆盖
            let parentIndex = parent.layer.getFrameIndex(window.name)

            //监听表单提交
            form.on('submit(saveBtn)', function (data) {
                $.post('/company/api/application',data.field,(res)=>{
                    if(res.code==0){
                        layer.msg("添加成功！");
                        setTimeout(()=>{parent.layer.close(parentIndex);},1000)
                    }
                    else {
                        layer.alert(res.msg)
                    }
                return false;
                });
            });

        });
    </script>


</body>
</html>