<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>应用列表-云招聘学位核验平台</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/head.css" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/bottom.css" />
  <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">
  <link href="/static/stylesheets/company.css" rel="stylesheet" type="text/css">


</head>
<body>
 <!-- 头 -->
 <%-include("../head.ejs")%>

 <section class="addNavBar">
    <div class="addNav_bgc">
        <div class="layui-container">
            <div class="addNav_text"><a href="/company/">证书核验</a></div>
            <div class="addNav_whiteLine">|</div>
            <div class="addNav_text"><a href="/company/application">应用管理</a></div>
        </div>
    </div>
</section>
 
 <section>
    <div class="com_body_image1"><img src="/static/images/application_image.png" ></div>
 	<div class="layui-container com_body">
 		<div class="layui-row com_body_row">

 			<div class="com_body_table">
				
				<div class="api_table_box">
					<div class="api_table_title">应用列表</div>
					<table class="layui-hide" id="APITable" lay-filter="currentTableFilter"></table>
				</div>
				
			</div>
				
				<script type="text/html" id="toolbarDemo">
				  <div class="layui-btn-container">
				    <button class="layui-btn layui-btn-normal" lay-event="add">创建应用<tton>
				  </div>
				</script>

 				<script type="text/html" id="currentTableBar">
					<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="records">调用记录</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="buy">购买</a>
 				</script>
 				 
 				  <!-- 选择是否开启 -->
 				<script type="text/html" id="switchTpl">
 				  <input type="checkbox" name="sex" value="{{d._id}}" lay-skin="switch" lay-text="开|关" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
 				</script>
 				
                 <script type="text/html" id="showAndHideTpl" >
                    <div id="showLink{{d._id}}">
                        <span>***</span>
                        <input type="submit" class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="show{{d._id}}" value="显示" name="{{d._id}}" style="float:right;" lay-filter="showBtn" id="showbutton{{d._id}}"/>
                    </div>
                    <div id="hideLink{{d._id}}" style="display: none;">
                        <span>{{d.secret}}</span>
                        <input type="submit" class="layui-btn layui-btn-xs" lay-event="hide{{d._id}}" value="隐藏" name="{{d._id}}" style="float:right;" lay-filter="hideBtn" id="hidebutton{{d._id}}"/>
                    </div>
                </script>

				<script type="text/html" id="recordsTpl">
				  // 调用记录
				  
				</script>
				<button></button>
 			
 		</div>
 	</div>
 </section>
 
 <%-include("../foot.ejs")%>

 
<script src="/static/layui/layui.js"></script>
<!-- <script src="/static/layuimini/js/lay-module/echarts/echarts.js"></script> -->
<script crossorigin="anonymous" integrity="sha512-xOe2BZp0tpJHvZ1VvR4FlSpFMT56imtpFMdv+mpe8x6w7XmMuTMCjtXOdJwyrvzPa77u4wcJPouWPylQHSVTxQ==" src="https://lib.baomitu.com/echarts/5.1.1/echarts.js"></script>
<script>
layui.use(['form', 'table','element'], function(){
  var table = layui.table
  ,form = layui.form
  ,$ = layui.jquery;
  
	//用户退出
	$(".login-out").click(function(){
		layer.confirm("确认退出系统吗？",{icon:3, title: "提示"}, function(index){
			//关闭询问框
			layer.close(index);
			//跳转
			window.location.href = "/logout";
		})
	});

 //修改密码
 $("#changePasswordBtn").click(function(){
		$.get('/changePassword',(res)=>{
			var index = layer.open({
      title: '修改密码',
      type: 1,
      shade: 0.2,
      maxmin:true,
      shadeClose: true,
      area:['500px','400px'],
      content:res
  	});
  });
});
 
  table.render({
    elem: '#APITable'
   ,url:'/company/api/application'
	,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,cellMinWidth:80
    ,cols: [[ 
        {hide:true}
      ,{title:"序号",type:'numbers'}
	  ,{field:"_id",title:"APPID"}
      ,{field:'name', title:'应用名称', sort: true}
      ,{field:'comment', title:'应用备注'}
      ,{field:'createdAt', width:190,title:'创建时间',sort: true,templet:(e)=>{
          var date=e.createdAt
        return new Date(date).toLocaleString();
      }}
      ,{field:'secret', title: '密钥',templet:'#showAndHideTpl',width:215}
      ,{field:'remainder', title:'剩余次数', sort: true,} 
      ,{field:'status', title:'状态', templet: '#switchTpl'},
	  {title: '操作', toolbar: '#currentTableBar' ,width:170}
    ]]
    // ,data:data1
    ,page: true
  });
  
  //监听状态操作
  form.on('switch(status)', function(obj){
        $.post('/company/api/application/status',{
            applicationid:obj.value,
            status:obj.elem.checked?1:0
        })
  });
  
  		  // 监听添加操作
  table.on('toolbar(currentTableFilter)', function (obj) {
      if (obj.event === 'add') {   
        layer.open({
			  type: 2
			  , title: '添加应用'
			  , area: ['700px', '400px'] //宽高
			  , shadeClose: false
			  , scrollbar: false // 父页面 滚动条 禁止
			  , content: ['/company/addApplication','no']
			  , cancel: function () {
				  //右上角关闭回调
			  }
		  })

      } 
  });
  
  //监听行工具事件
    table.on('tool(currentTableFilter)', function(obj){
      var data = obj.data;
      var event = obj.event;
        if(event.startsWith('show')||event.startsWith('hide')){
        var valueShow = document.getElementById("showbutton"+data._id).name;
        var valueHide = document.getElementById("hidebutton"+data._id).name;
            if(valueShow==data._id || valueHide==data._id){
			switch(event){
			case "show"+data._id:
				$("#showLink"+data._id).hide();
		  		$("#hideLink"+data._id).show();
				valueShow = "";
				valueHide = "";
				break;
			case "hide"+data._id:
				$("#showLink"+data._id).show();
		  		$("#hideLink"+data._id).hide();
				valueShow = "";
				valueHide = "";
				break;
			    }
		    }
        }
		
        else if(obj.event === 'records'){
		  //弹出调用记录的折线图
		  
		  // 参考管理员管理公司和学校情况
		  layer.open({
			  type: 2
			  , title: '调用记录'
			  , area: ['530px', '450px'] //宽高
			  , shadeClose: false
			  , scrollbar: false // 父页面 滚动条 禁止
			  , content: ['/company/application/detail/'+data._id,'no']
			  , cancel: function () {
				  //右上角关闭回调
			  }
		  })
	  }
    else if(obj.event === 'buy'){
		  //弹出调用记录的折线图
		  
		  // 参考管理员管理公司和学校情况
		  layer.open({
			  type: 1
			  , title: '购买次数'
			  , area: ['450px', '550px'] //宽高
			  , shadeClose: false
			  , scrollbar: false // 父页面 滚动条 禁止
			  , content:$('#buylayer')
			  , cancel: function () {
				  //右上角关闭回调
			  }
		  })
	  }
    });
  
  
});
</script>
</body>
<style>
   .content-center{
     text-align: center;
   }
</style>
<div style="display: none;" id='buylayer'>
  <div class="layui-row content-center" style="margin: 10px;">
    <img src="/static/images/pay.jpg" width="300px" />
  </div>
  <div class="layui-row content-center" style="margin:8px 0px;">
    <span style="font-size:larger;">定价</span>
  </div>
  <div class="layui-row content-center" style="margin:8px 0px;">
    <div class="layui-col-md4 content-center" >
      30元/100次
    </div>
    <div class="layui-col-md4 content-center">
     200元/1000次
    </div>
    <div class="layui-col-md4 content-center">
      1000元/10000次
    </div>
  </div>
</div>
</html>