<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用人单位-云招聘学位核验平台</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/head.css" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/bottom.css" />
<link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">
<link href="/static/stylesheets/company.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/layuimini/lib/jq-module/zyupload/skins/zyupload-1.0.0.min.css">
<style>
	.andArea {
    	background: url("/static/layuimini/lib/jq-module/zyupload/skins/images/fileType/xls.png") no-repeat scroll center 5px rgba(0, 0, 0, 0);
}
</style>
</head>

<body>
	
	<%-include("../head.ejs")%>

	<section class="addNavBar">
		<div class="addNav_bgc">
			<div class="layui-container">
				<div class="addNav_text"><a href="/company/">证书核验</a></div>
				<div class="addNav_whiteLine">|</div>
				<div class="addNav_text"><a href="/company/application">应用管理</a></div>
			</div>
		</div>
	</section>
	
	<section class="company-search">
		<div class="layui-container com_body">
			<!--批量查询页-->
			<div class="layui-row com_body_row" id="multiple_check" style="display: none;">
				<div class="layui-col-mid9">
					<div style="text-align: center; padding: 30px 30px;" >
						<button class="layui-btn  layui-bg-gray" id="single_check_button" style="width: 60%;">切换单次查询</button>
						<div class="layui-form-item" style="margin-top: 30px;">
							<label class="com_body_label">证书批量验证</label>
						</div>
					</div>
					<div class="layui-container">
						<div class="layui-main" style="margin-top: 30px;">
							<!-- zyupload模板 -->
							<div id="zyupload" class="zyupload">
								<div>
									<span style="font-size:17px; color: gray;">模板下载链接请点击次按钮：</span>
									<!-- 点击按钮下载模板 -->
									<button id="downloadLink" class="layui-btn layui-btn-normal" style="background: none repeat scroll 0 0 #00B7EE;">下载模板</button>
								</div>
							</div>
							<!-- 显示console -->
							<div style="border:1px solid #ccc; width: 650px; margin: 0 auto; color: red; padding: 15px;" id="show_console"></div>
						</div>
					</div>	
				</div>
			</div>
			<!--单次查询页-->
			<div class="layui-row com_body_row" id="single_check">
				
				<br>
				<form method="POST" class="layui-form com_body_form" onsubmit='return false';>
					<div class="layui-col-md7">

						<div  style="text-align: center;">
							<button class="layui-btn layui-btn-fluid layui-bg-gray" id="multiple_check_button" >切换批量查询</button>
						</div>
						<br>
						<div class="layui-form-item">
							<label class="com_body_label">证书验证</label>
						</div>
						<br>

						<div class="layui-form-item" >
							<label class="layui-form-label required company_form_label" >证书编号</label>
							<div class="layui-input-block">
								<input type="text" name="certificate_number" required lay-verify="required" autocomplete="off" class="layui-input com_body_input"/>
							</div>
						</div>
						<br>

						<div class="layui-form-item">
							<label class="layui-form-label required company_form_label" >姓名</label>
							<div class="layui-input-block">
								<input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input com_body_input"/>
							</div>
						</div>
						<br>

						<div class="layui-form-item">
							<label class="layui-form-label required company_form_label">学校名称</label>
							<div class="layui-input-block">
								<input type="text" name="school" required lay-verify="required" autocomplete="off" class="layui-input com_body_input"/>
							</div>
						</div>
						<br>

						<div class="layui-form-item">
							<label class="layui-form-label company_form_label" >学位类别</label>
							<div style="width: 61%; border-radius: 50px !important;" class="layui-input-block"  id="input_selectid">
								<select lay-verify="required"  name="degreetype" style="border-radius: 15px;" >
									<option value="学士" selected>学士</option>
									<option value="硕士">硕士</option>
									<option value="博士">博士</option>
								</select>
								<!-- <input type="text" name="degreetype" required lay-verify="required" autocomplete="off" class="layui-input com_body_input"/> -->
							</div>
						</div>
						<br>

						<div class="layui-form-item">
							<label class="layui-form-label company_form_label">毕业年月</label>
							<div class="layui-input-block">
								<input type="text" id="year-month" name="graduationdate" required lay-verify="required" autocomplete="off" class="layui-input com_body_input" />
							</div>
						</div>
						<br>

						<div class="layui-form-item">
							<label class="layui-form-label company_form_label">专业</label>
							<div class="layui-input-block">
								<input type="text" name="major" required lay-verify="required" autocomplete="off" class="layui-input com_body_input"/>
							</div>
						</div>
						<br>

						<div class="company_seach_label_div">
								<p id="search-true" class="com_body_search_true">核验成功，证书无误！</p>
								<p id="search-false" class="com_body_search_false">核验失败，证书信息不正确！</p>
						</div>

						<div class="layui-form-item" style="text-align: center;">
							<button type="button" class="layui-btn com_body_search" lay-submit lay-filter="companySearch">点击查询</button>
						</div>
					</div>
					<div class="layui-col-md5 com_body_image">
							<img src="/static/images/comindex_procedure.png" style="height:500px; margin: auto; line-height: 430px; text-align: center;padding-top: 50px;" alt="">
					</div>
					
					
				</form>
			</div>
		</div>
	</section>

	<%-include("../foot.ejs")%>

<script src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/layuimini/lib/jq-module/zyupload/zyupload-1.0.0.min.js"></script>
<script>
//Demo
layui.use(['form','element','laydate'], function(){
  var form = layui.form,
	  element = layui.element, //导航的hover效果、二级菜单等功能，需要依赖element模块
  	  laydate = layui.laydate,
  	  $ = layui.jquery,
	  layer = layui.layer;
	  
 //修改密码
 $("#changePasswordBtn").click(function(){
		$.get('/changePassword',(res)=>{
			var index = layer.open({
		title: '修改密码',
		type: 1,
		shade: 0.2,
		maxmin:true,
		shadeClose: true,
		area:['500px','400px'],
		content:res
			
	});
	$(window).on("resize", function () {
		layer.full(index);
	});
		})
	
})

	// 监听切换
	$('#single_check_button').click(function(){
		console.log('hhh');
		$('#multiple_check').hide();
		$('#single_check').show();
	})

	$('#multiple_check_button').click(function(){
		$('#single_check').hide();
		$('#multiple_check').show();
	})

  //监听提交
  form.on('submit(companySearch)', function(data){
	  var index=layer.load(0, {shade:0.2,time: 10*1000})
	$.ajax({
		url: '/company/api/checkCertificate',
		method:'POST',
		data:data.field,
		success:function(res){
			if(res.code==0){
				$('#search-false').hide();
				$('#search-true').show();
			}
			else{
				$('#search-true').hide();
				$('#search-false').show();
			}
		},
		complete:()=>{layer.close(index)}
	});
    return false;
  });
  //监听导航点击
  element.on('nav(demo)', function(elem){
	//console.log(elem)
	layer.msg(elem.text());
  });
  laydate.render({
		elem: "#year-month",
		type: "month",
	});
	//用户退出
	$(".login-out").click(function(){
		layer.confirm("确认退出系统吗？",{icon:3, title: "提示"}, function(index){
			//关闭询问框
			layer.close(index);
			//跳转
			window.location.href = "/logout";
		})
	});
});

</script>
<!--文件上传-->
<script type="text/javascript">
    $(function () {
		$("#show_console").hide();
        // 初始化插件
        $("#zyupload").zyUpload({
            width: "700px",                 // 宽度
            height: "450px",                 // 宽度
            itemWidth: "140px",                 // 文件项的宽度
            itemHeight: "140px",                 // 文件项的高度
            url: "/company/api/uploadCheckMultipleCertificate",  // 上传文件的路径
            fileType: ["xls", "xlsx"],// 上传文件的类型
            fileSize: 51200000,                // 上传文件的大小
            multiple: true,                    // 是否可以多个文件上传
            dragDrop: true,                    // 是否可以拖动上传文件
            tailor: true,                    // 是否可以裁剪图片
            del: true,                    // 是否可以删除文件
            finishDel: false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function (selectFiles, allFiles) {    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                console.info("当前选择了以下文件：");
                console.info(selectFiles);
            },
            onDelete: function (file, files) {              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                console.info("当前删除了此文件：");
                console.info(file.name);
            },
            onSuccess: function (file, response) {          // 文件上传成功的回调方法
				$("#show_console").show();
                let res=JSON.parse(response);
				console.info("此文件上传成功：");
                console.info(file.name);
                console.info("此文件上传到服务器地址：");
                console.info(response);
				if(res.code==0){
					let url = res.data.url;
					window.open(url);
					$("#show_console").append("<p>批量核验成功，如果没有弹窗，请点击<a href='"+url+"'>链接查看</a></p>");
				}
				else{
					$("#show_console").append("<p>处理失败，" + res.msg + "</p>");
				}
                
            },
            onFailure: function (file, response) {          // 文件上传失败的回调方法
                $("#show_console").show();
				console.info("此文件上传失败：");
                console.info(file.name);
                $("#show_console").append("<p>上传失败，失败原因为：" + response.msg + "</p>");
            },
            onComplete: function (response) {           	  // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(response);
            }
        });

    });
	
	//点击按钮下载excel模板
	$("#downloadLink").click(function(){
		//测试链接
		window.open("/static/templates/check_template.xls");
	})
</script>

</body>
</html>
